body { 
    font-family: Arial, sans-serif;
}


.navbar
{
   display: flex;
   justify-content: start;
   align-items: center;
   background-color: #333;
   padding: 10px;
}

.navbar a 
{  
    color: white;
  text-decoration: none;
  padding: 8px 16px;

}

.navbar a:hover
{ 
   background-color: #333;
   color: black;
}

.navbar-links 
{ 
  display: flex;
  margin-left: auto;
}

.image-container
{  
  position: relative;
  text-align: center;
  color:white
}

.centered-text
{  
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  color: white;
}








